main{
    margin-left: 3%;
    margin-top: 4%;
}
p{
    font-size: larger;
}
.negrita
{
    font-weight: bold;
}

section{
    margin-bottom: 5%;
}

img{
    width: 40%;
    clear: both;
}

section div{
    border: 1px solid black;
    float: left;
    margin-right: 10%;
    padding-right: 60%;
}

input[type="text"], input[type="date"], select, input[type="number"] {
    width: 60%;
    padding: 2%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

